body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
main {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}
section {
    margin-bottom: 20px;
}
section h1 {
    font-size: 1.5em;
    color: #333;
}
section p, section ul, section a {
    font-size: 1.2em;
    color: #555;
}
section ul {
    padding-left: 20px;
}
section ul li {
    margin-bottom: 5px;
}
img {
    display: block;
    margin: 0 auto;
}
footer {
    margin-top: auto;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
}